.section-container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

.interface_spacer_small {
  height: 3vh;
}

.interface_spacer_xsmall {
  height: 2vh;
}

.interface_label {
  padding-left: 0px !important;
  padding-bottom: 0.25rem;
}

.captcha_container {
  margin: 0 auto;
  padding: 2em 0 0 0;
  width: fit-content;
  align-items: center;
  text-align: center;
}

.footer-text {
  position: absolute;
  top: 80vh;
  text-align: center;
}

.contact-text-area {
  height: 25vh;
}

.contact-h1 {
  font-size: 1.375rem;
}

.learn-more-button,
.submit-button {
  background-color: var(--bg-color-light);
  border-radius: 0.35rem;
  padding: 0.25rem;
  width: 175px;
}

.learn-more-button:hover {
  background-color: var(--bg-color-dark);
  color: var(--bg-color-light);
  border-radius: 0.35rem;
}

@media only screen and (max-width: 768px) {
  .email_confirmation {
    font-size: 0.75rem;
    font-weight: bold;
    color: green;
  }

  .socialmedia_icon {
    width: 50px;
    padding-bottom: 1em;
  }

  .interface_spacer {
    height: 55vh;
  }

  .interface_about_p {
    font-size: 1em;
    font-weight: lighter;
    -webkit-text-stroke: 0.25px black;
  }

  .interface_about_h1 {
    font-size: 1.5em;
    -webkit-text-stroke: 0.5px black;
  }
}

@media only screen and (min-width: 769px) {
  .email_confirmation {
    font-size: 2rem;
    font-weight: bold;
    color: green;
  }

  .interface_spacer {
    height: 60vh;
  }

  .interface_about_p {
    font-size: 1.5em;
  }

  .interface_about_h1 {
    font-size: 2em;
  }

  .socialmedia_icon {
    width: 50px;
    padding-bottom: 1em;
  }
}
