.input {
  width: 100%;
  border-radius: 3px;
}

.section-container {
  height: 100vh;
  height: 100dvh;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

.interface-spacer-medium {
  height: 6vh;
  height: 6dvh;
}

.interface-spacer-small {
  height: 3vh;
  height: 3dvh;
}

.interface-spacer-xsmall {
  height: 2vh;
  height: 2dvh;
}

.captcha-container {
  margin: 0 auto;
  padding: 2em 0 0 0;
  width: fit-content;
  align-items: center;
  text-align: center;
}

.footer-text {
  position: absolute;
  top: 80vh;
  top: 80dvh;
  text-align: center;
}

.contact-text-area {
  height: 25vh;
  height: 25dvh;
  width: 100%;
  border-radius: 3px;
}

.learn-more-button:hover,
.submit-button:hover,
.schedule-button:hover {
  background-color: var(--bg-color-dark);
  color: var(--bg-color-light);
  border-radius: 0.35rem;
}

.scroll-p {
  text-align: center;
}

.schedule-button {
  padding: 0.5rem;
}

.submit-button {
  padding: 0.5rem;
}

.submit-btn-col {
  text-align: center;
}

.topic {
  width: 70%;
}

.topic-button:hover {
  background-color: white !important;
  color: black !important;
}

.type-btn {
  height: 100%;
  width: 30%;
  font-size: 1.75rem;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .interface-label {
    padding-left: 0px !important;
    padding-bottom: 0.25rem;
  }

  .scroll-button {
    background-color: var(--bg-color-light);
    border-radius: 0.35rem;
    padding: 0.25rem;
    width: 100%;
  }
  .contact-h1 {
    font-size: 1.375rem;
  }
  .learn-more-button,
  .submit-button,
  .schedule-button {
    background-color: var(--bg-color-light);
    border: 1px solid transparent;

    border-radius: 0.35rem;
    /* padding: 0.25rem; */
    font-size: 1rem;
  }

  .learn-more-button {
    width: 150px;
  }

  .submit-button {
    /* width: 75px; */
    padding: 0.25rem;
  }

  .email-confirmation {
    font-size: 0.75rem;
    font-weight: bold;
    color: green;
  }

  .email-sent {
    font-size: 0.75rem;
    font-weight: bold;
    color: rgb(244, 189, 7);
  }

  .socialmedia-icon {
    width: 50px;
    padding-bottom: 1em;
  }

  .interface-spacer {
    height: 55vh;
    height: 55dvh;
  }

  .interface-about-p {
    font-size: 1em;
    font-family: "Raleway";
    -webkit-text-stroke: 0.5px black;
  }

  .interface-about-h1 {
    font-size: 1.5em;
    -webkit-text-stroke: 0.5px black;
  }

  .dropdown-toggle {
    font-size: 1rem !important;
    margin: 0;
    padding: 0.25rem;
  }

  .dropdown-item {
    font-size: 1rem !important;
  }
}

@media only screen and (min-width: 769px) {
  .submit-button {
    width: 200px;
  }
  .interface-label,
  #name,
  #email,
  #message,
  #topic {
    padding-left: 0px !important;
    padding-bottom: 0.25rem;
    font-size: 2rem;
  }

  .scroll-button {
    background-color: var(--bg-color-light);
    font-size: 1.5rem;
    border-radius: 0.35rem;
    padding: 0.125rem;
    width: 130px;
  }
  .contact-h1 {
    font-size: 3rem;
  }
  .learn-more-button,
  .submit-button,
  .schedule-button {
    background-color: var(--bg-color-light);
    border-radius: 0.35rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: fit-content;
    font-size: 1.5rem;
  }

  .learn-more-button {
    width: 225px;
    padding-bottom: 0.25rem;
  }

  .email-confirmation {
    font-size: 2rem;
    font-weight: bold;
    color: green;
  }

  .email-sent {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(244, 189, 7);
  }

  .interface-spacer {
    height: 60vh;
    height: 60dvh;
  }

  .interface-about-p {
    font-size: 2rem;
  }

  .interface-about-h1 {
    font-size: 2.5rem;
  }

  .interface-about-h2 {
    font-size: 4rem;
    font-family: "Lusitana";
    -webkit-text-stroke: 0.25px white;
    /* font-family: "Raleway"; */
  }

  .socialmedia-icon {
    width: 150px;
    padding-bottom: 1em;
  }

  .dropdown-toggle {
    font-size: 2rem !important;
  }

  .dropdown-item {
    font-size: 2rem !important;
  }

  .dropdown {
    color: black;
  }
}
