.loading-spacer-small {
  height: 5vh;
  height: 5dvh;
}

.row-one {
  height: 10vh;
  height: 10dvh;
}

.loading-header {
  font-size: clamp(2rem, 1.5rem + 2.5vw, 4rem);
  font-size: clamp(2rem, 1.5rem + 2.5dvw, 4rem);
}

.loading-header-2 {
  font-size: clamp(1.5rem, 0.875rem + 3.125vw, 4rem);
  font-size: clamp(1.5rem, 0.875rem + 3.125dvw, 4rem);
}
.loading-header-3 {
  font-size: clamp(1.5rem, 1.125rem + 1.875vw, 3rem);
  font-size: clamp(1.5rem, 1.125rem + 1.875dvw, 3rem);
}

.loading-header,
.loading-header-2,
.loading-header-3 {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .canvas-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
  }

  .loading-screen-light {
    top: 0px;
    left: 0px;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    position: absolute;
    background-color: var(--bg-light);
    overflow-x: hidden;
  }

  .loading-screen-dark {
    top: 0px;
    left: 0px;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    position: absolute;
    background-color: var(--bg-dark);
    overflow-x: hidden;
  }

  .header-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
  }

  .loading-spacer {
    height: 100%;
  }

  .svg-animate {
    height: 65vh;
    height: 65dvh;
  }

  .column-spacer {
    height: 10vh;
    height: 10dvh;
  }

  .spacer-small {
    height: 2.5vh;
    height: 2.5dvh;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */

  .canvas-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    transition: background-color 4s left 4s right 4s top 4s bottom 4s;
    z-index: -1;
  }

  .loading-screen-light {
    top: 0px;
    left: 0px;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    position: absolute;
    background-color: var(--bg-light);
    overflow-x: hidden;
    transition: background-color 2s;
  }

  .loading-screen-dark {
    top: 0px;
    left: 0px;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    position: absolute;
    background-color: var(--bg-dark);
    overflow-x: hidden;
    transition: background-color 2s;
  }

  .header-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
  }

  .loading-spacer {
    height: 100%;
  }

  .spacer-small {
    height: 7.5vh;
    height: 7.5dvh;
  }
  .svg-animate {
    height: 65vh;
    height: 65dvh;
  }

  .column-spacer {
    height: 10vh;
    height: 10dvh;
  }
}
