.menu-button {
  background-color: rgb(245, 249, 249);
  width: 125px;
  border-radius: 0.25rem;
}

.menu-spacer {
  height: 10vh;
  height: 80px;
}

.menu-sspacer {
  height: 20px;
}

.menu-row {
  display: block;
  text-align: center;
}

.menu-container-light {
  top: 0px;
  left: 0px;
  width: 200px;
  bottom: 0px;
  position: fixed;
  background-color: rgba(41, 50, 65, 0.3);
}

.menu-container-dark {
  top: 0px;
  left: 0px;
  width: 200px;
  bottom: 0px;
  position: fixed;
  background-color: rgba(236, 236, 236, 0.2);
}

.menu-open-button {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
}
