.menu-spacer {
  height: 10vh;
  height: 10dvh;
  height: 80px;
}

.menu-sspacer {
  height: 20px;
}

.menu-row {
  display: block;
  text-align: center;
}

.menu-container-light {
  top: 0px;
  left: 0px;
  width: 250px;
  bottom: 0px;
  position: fixed;
  background-color: rgba(41, 50, 65, 0.3);
  z-index: 1000;
}

@media only screen and (min-width: 769px) {
  .menu-container-dark {
    top: 0px;
    left: 0px;
    width: 300px;
    bottom: 0px;
    position: fixed;
    background-color: rgba(236, 236, 236, 0.2);
    z-index: 1000;
  }

  .menu-button {
    background-color: rgb(245, 249, 249);
    border-radius: 0.25rem;
    font-size: 1.5rem;
  }

  .menu-open-button {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1001;
  }
}

@media only screen and (max-width: 768px) {
  .menu-container-dark {
    top: 0px;
    left: 0px;
    width: 300px;
    bottom: 0px;
    position: fixed;
    background-color: rgba(236, 236, 236, 0.2);
  }

  .menu-button {
    background-color: rgb(245, 249, 249);
    width: 100px;
    border-radius: 0.25rem;
  }

  .menu-open-button {
    width: 70px;
    height: 60px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
  }
}
