.portfolio-elin-hero {
  height: 1000px;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../data/images/renderings/Laptop_apple_electronics_inventory_golden.png");
  border-radius: 0.75rem;
}

.portfolio-elin-section {
  flex-direction: column;
  gap: 0.625rem;
  border-top: 0.0625rem solid #c6c0c4;
}

.portfolio-elin-h2 {
  text-transform: uppercase;
  font-family: lucitana;
  font-size: clamp(1.5rem, 1.0092rem + 2.454vw, 4rem);
}

.portfolio-elin-p {
  text-transform: uppercase;
  font-family: raleway;
  font-size: clamp(1rem, 0.9018rem + 0.4908vw, 1.5rem);
}
.portfolio-elin-font-nunito {
  text-transform: uppercase;
  font-family: nunito;
  font-size: clamp(1.5rem, -2.1319rem + 18.1595vw, 20rem);
}
.portfolio-elin-font-cabin {
  text-transform: uppercase;
  font-family: cabin;
  font-size: clamp(1.5rem, -2.1319rem + 18.1595vw, 20rem);
}

.portfolio-elin-li {
  text-transform: uppercase;
  font-family: lucitana;
  font-size: clamp(1rem, 0.9018rem + 0.4908vw, 1.5rem);
}

.portfolio-elin-screen-1 {
  height: 1000px;
  width: 100%;
  background-size: cover;
  background-image: url("../data/images/renderings/Iphone_horizontal_and_vertical_pomo_vases.png");
  border-radius: 0.75rem;
}

.portfolio-elin-screen-2 {
  height: 1800px;
  width: 100%;
  background-size: cover;
  background-image: url("../data/images/renderings/Iphone_leaves_shade_pomo.png");
  border-radius: 0.75rem;
}

.portfolio-elin-screen-3 {
  height: 1800px;
  width: auto;
  background-size: cover;
  background-image: url("../data/images/renderings/Iphone_vertical_modern_office_pomo.png");
  border-radius: 0.75rem;
}
