.portfolio-h1 {
  display: flex;
  flex-direction: column;
  font-family: lucitana;
  font-style: italic;
  font-weight: 400;
  font-size: clamp(2.875rem, 0.125rem + 13.75vw, 12.5rem);
  text-align: center;
  text-transform: uppercase;
  color: var(--bg-color-light);
  justify-content: center;
}

.portfolio-section {
  display: flex;
  justify-content: center;
  height: calc(100vh - 5.75rem);
}

.portolio-details {
  border-top: 0.0625rem solid #c6c0c4;
  width: 100%;
}

.showcased-p {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: raleway;
  padding-top: 1rem;
}

.showcased-h3 {
  padding-top: 1rem;
}

.showcased-list {
  font-size: 1.25rem;
  font-family: raleway;
  font-weight: 300;
}

.portfolio-about-list {
  font-style: normal;
  text-transform: uppercase;
  font-family: raleway;
  font-weight: 300;
}
