.portfolio-pomodoro-hero {
  height: 1000px;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/dv6keahg3/image/upload/q_auto/f_auto/v1697384654/PortfolioSite/Iphone_vertical_pomo_vases_dvoqbs.png");
  border-radius: 0.75rem;
}

.portfolio-pomodoro-section {
  flex-direction: column;
  gap: 0.625rem;
  border-top: 0.0625rem solid #c6c0c4;
}

.portfolio-pomodoro-h2 {
  text-transform: uppercase;
  font-family: lucitana;
  font-size: clamp(1.5rem, 1.0092rem + 2.454vw, 4rem);
}

.portfolio-pomodoro-p {
  text-transform: uppercase;
  font-family: raleway;
  font-size: clamp(1rem, 0.9018rem + 0.4908vw, 1.5rem);
}
.portfolio-pomodoro-font-noto {
  text-transform: uppercase;
  font-family: "Noto Sans Display", sans-serif;
  font-size: clamp(1.5rem, -2.1319rem + 18.1595vw, 20rem);
}

.portfolio-pomodoro-li {
  text-transform: uppercase;
  font-family: lucitana;
  font-size: clamp(1rem, 0.9018rem + 0.4908vw, 1.5rem);
}

.portfolio-pomodoro-screen-1 {
  height: 1000px;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/dv6keahg3/image/upload/q_auto/f_auto/v1697384650/PortfolioSite/Iphone_horizontal_and_vertical_pomo_vases_ng2hpt.png");
  border-radius: 0.75rem;
}

.portfolio-pomodoro-screen-2 {
  height: 1000px;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/dv6keahg3/image/upload/q_auto/f_auto/v1697384650/PortfolioSite/Iphone_leaves_shade_pomo_jhnhw6.png");
  border-radius: 0.75rem;
}

.portfolio-pomodoro-screen-3 {
  height: 1000px;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/dv6keahg3/image/upload/q_auto/f_auto/v1697384651/PortfolioSite/Iphone_vertical_modern_office_pomo_kex0v8.png");
  border-radius: 0.75rem;
}

.experience-card {
  border: 1px solid white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  gap: 0.625rem;
  display: flex;
  flex-direction: column;
}

.portfolio-about-h4 {
  padding-top: 1rem;
}
