.footer-header {
  color: var(--bg-color-light);
  text-align: center;
}

.copyright-text {
  color: var(--bg-color-light);
  font-weight: 200;
  font-family: raleway;
  font-size: clamp(0.5rem, 1.0449rem + 1.3381vw, 0.75rem);
  margin-left: 1rem;
}

.social-icon {
  color: var(--bg-color-light);
  height: 30px;
  width: auto;
  transition: 0.25s;
}

.social-icon:hover {
  color: grey;
  height: 30px;
  width: auto;
  cursor: pointer;
  transition: 0.25s;
}
