.scroll-container {
  position: relative !important;
}

.dropdown-menu li > a {
  color: white;
}
.dropdown-menu > li {
  padding: 5px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.dropdown-menu li > a:hover {
  background: white;
}

.spacer {
  height: 5vh;
  height: 5dvh;
}

.round-button {
  width: fit-content !important;
  height: 50px !important;
  border-radius: 25px;
}

.round-button:hover {
  width: fit-content !important;
  height: 50px !important;
  border-radius: 25px;
  background-color: blue;
}
