:root {
  --bg-color-dark: #293241;
  --bg-color-light: #ececec;
  --color-one: #3d5a80;
  --color-two: #98c1d9;
  --color-three: #e0fbfc;
  --color-four: #ee6c4d;
  --color-five: #293241;
  --button-color-light: #ececec;
  --button-color-dark: #ececec;
  --button-color-hover: #293241;
}

#root {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  color: var(--bg-color-light);
  padding: 0 0.625rem;
  min-height: 100vh;
  min-height: 100dvh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.font-light {
  color: var(--bg-color-dark);
  -webkit-text-fill-color: var(--bg-color-dark);
}

.font-dark {
  color: var(--bg-color-light);
  -webkit-text-fill-color: var(--bg-color-light);
}

p,
h3,
h4 {
  font-family: "Lusitana";
}

h1,
h2 {
  font-family: "Raleway";
}
a {
  color: var(--bg-color-light) !important;
  text-decoration: none !important;
}
